.header-container {
  display: flex;
  align-items: center;
  background-color: #dbeafe;
  height: 10vh;
  padding-left: 15px;
}
.logo-img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.heading {
  font-family: 'Bree Serif';
  font-size: 30px;
}
